.container {
  max-width: 1440px;
  height: 476px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.discount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(#006300, #339933);
  max-width: 1440px;
  height: 476px;
}
.dwarf {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  height: 476px;
}

.txt {
  font-size: 90px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}
.txt2 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 40px;
}
.btn {
  border-color: white;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  width: 473px;
  height: 75px;
  font-size: 28px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
.input {
  border-color: transparent;
  color: #6c6c6c;
  background-color: white;
  border-radius: 25px;
  width: 427px;
  height: 75px;
  padding-left: 40px;
  font-size: 22px;
}

@media (max-width: 1010px) {
  .dwarf {
    display: none;
  }
  .discount {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .input {
    width: 50%;
  }
  .btn {
    width: 64%;
    height: 60%;
  }
  .right {
    text-align: center;
  }
  .info {
    align-items: center;
  }
}
