/* .item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(318px, 1fr))
  }


.item image{
    width: 318px;
    height: 350px;
} */

/* .item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    min-width: 318px;
    height: 366px;
}

.item img{
    width: 318px;
    height: 350px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-size: 18px;
    font-weight: 600;
} */
