.catalogTop {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-bottom: 0;
  padding-top: 20px;
}
.catalogTop a {
  text-decoration: none;
  border: #8b8b8b solid 3px;
  padding: 5px;
  font-size: 12px;
  color: #8b8b8b;
  font-weight: 700;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
  gap: 20px;
  padding-bottom: 40px;
}
